<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Plugin Unit Tests">
            <directory>plugins</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix="plugin.php">plugins</directory>
        </whitelist>
    </filter>
</phpunit>
